/* 
display: flex; body를 flex 컨테이너로 설정
flex-direction: column; 아이템들을 수직 방향으로 정렬
align-items: center; 수평 축에서 가운데로 정렬
(align-items는 flex-direction와 교차 축)
*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
h1 {
    font-size: 2rem;
}
  
button {
    margin-left: 0.5rem;
}
  
/* 
flex-direction: row; 아이템들을 수평 방향으로 정렬 (기본값)
*/
#dday-div {
    display: flex;
    flex-direction: row; /* 생략가능 */
    font-size: 1.3rem;
}

/* 
자식 선택자 사용
id가 'dday-div'인 요소의 자식 div 태그를 모두 선택
남은 시간의 일, 시간, 분, 초에 오른쪽 여백 주기
*/
#dday-div > div {
    margin-right: 1rem;
}