/* 여백제거 및 글자크기 통일  */
* {
    margin: 0;
    font-size: 13px;
}

/* 바디의 배경색 */
body {
    background: lightgrey;
}

/* 폼의 배경, 테두리, 크기, 여백, 모서리 */
form {
    background: white;
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

form fieldset {
    border: 1px solid lightgrey;
}

/* 로그인정보와 개인정보의 제목 */
form legend {
    font-weight: bold;
    padding: 5px 10px;
}

/* 로그인정보와 개인정보의 목록 */
form ul li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
}

/* 입력필드의 라벨 */
form label {
    float: left; /* 글자를 왼쪽으로 정렬 + display: inline-block */
    width: 100px; /* 크기변경 가능 */
}

/* 입력필드 */
form input {
    padding: 5px;
    width: 200px;
}

/* required 속성을 가진 입력필드 */
form input[required] {
    border: 1px red solid;
}

/* readonly 속성을 가진 입력필드 */
form input[readonly] {
    border: none;
}

/* 에러메세지는 화면에서 숨김처리 */
form .msg {
    /* display: block; */
    display: none;
    color: red;
}

/* 마지막 필드셋 */
form fieldset:last-of-type {
    border: none;
    display: flex;
    justify-content: center;
}

/* 제출버튼 */
form button {
    width: 80px;
}